*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --green-1: rgb(0, 158, 119);
  --green-2: rgba(0, 158, 119, 0.377);
  --dark-1: #161616;
  --dark-2: #202020;
  --text: #ffffff;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body {
  background: var(--dark-2) !important;
  color: var(--text) !important;
}

body::-webkit-scrollbar {
  background-color: var(--dark-2) !important;
  border-bottom: 1px solid var(--green-2) !important;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--green) !important;
  border-radius: 50px;
  border: 2px solid white;
}

.__header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, var(--dark-1)), to(var(--dark-2)));
  background: linear-gradient(var(--dark-1) 60%, var(--dark-2));
  width: 100%;
  height: 100vh;
}

.__header .navbar-brand {
  font-weight: 700;
}

.__header > .container {
  margin-top: 10%;
  text-align: center;
  color: var(--text);
}

.__header > .container img {
  margin-bottom: 20px;
  width: 60px;
  -webkit-animation: spin infinite 20s linear;
          animation: spin infinite 20s linear;
}

.__header > .container h1 {
  font-weight: 800;
  font-size: 55px;
}

.__header > .container p {
  font-size: 20px;
  margin: 10px 0px;
}

.__box {
  width: 100%;
  height: auto;
}

.__box .__box-item {
  background-color: var(--dark-1);
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 22px #181818;
          box-shadow: 0px 3px 22px #181818;
}

.__box .__box-item i {
  padding: 10px 15px;
  background-color: var(--green-1);
  border-radius: 5px;
  font-size: 20px;
}

.__box .__box-item h3 {
  margin-top: 20px;
  font-weight: 700;
}

.try {
  width: 100%;
  height: auto;
  margin-top: 100px;
  margin-bottom: 150px;
}

.try h3 {
  color: var(--green);
  margin-bottom: 50px;
  font-weight: 700;
  position: relative;
  padding-bottom: 20px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.try h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(70%, var(--green)));
  background: linear-gradient(to left, transparent, var(--green) 70%);
}

.try .inputTry {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.try .inputTry input[disabled] {
  width: 250px;
  background-color: var(--dark-1);
  border-radius: 8px 0px 0px 8px !important;
  border-right: transparent;
}

@media (max-width: 600px) {
  .try .inputTry input[disabled] {
    width: 150px;
  }
}

.try .inputTry input[name="try"] {
  border-radius: 0px 0px 0px 0px !important;
}

.try .inputTry input {
  background-color: transparent;
  border: 1px solid #ffffff0c;
  color: var(--text);
}

.try .inputTry input:focus {
  background-color: transparent;
  border: 1px solid #ffffff0c;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--text);
}

.try .inputTry button {
  outline: none;
  border-radius: 0px 8px 8px 0px !important;
}

.try h4 {
  margin: 50px 0px;
  color: var(--green-2);
}

.try pre {
  width: 100%;
  height: 400px;
  border-radius: 10px;
  background-color: var(--dark-1);
  color: var(--text);
  padding: 20px 0px;
  overflow-y: scroll;
}

.try pre::-webkit-scrollbar {
  background-color: var(--dark-2) !important;
  border-bottom: 1px solid var(--green-2) !important;
}

.try pre::-webkit-scrollbar-thumb {
  background-color: var(--green) !important;
  border-radius: 50px;
  border: 2px solid white;
}

.__exemple {
  margin: 100px 0px;
  width: 100%;
  height: auto;
}

.__exemple h3 {
  color: var(--green);
  font-weight: 700;
  font-size: 25px;
  position: relative;
  padding-bottom: 20px;
  margin-top: 70px;
  margin-bottom: 100px;
}

.__exemple h3::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 3px;
  background: -webkit-gradient(linear, right top, left top, from(transparent), color-stop(70%, var(--green)));
  background: linear-gradient(to left, transparent, var(--green) 70%);
}

.__exemple h1 {
  font-weight: 700;
}

.__exemple #accordion {
  margin-top: 100px;
  margin-bottom: 200px;
}

.__exemple #accordion .card {
  background-color: var(--dark-2);
  border: 1px solid #ffffff0c;
}

.__exemple #accordion .card .card-header {
  background-color: var(--dark-1);
}

.__exemple #accordion .card .card-header button {
  color: var(--green) !important;
  font-weight: 700;
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
  outline: none;
}

.__exemple #accordion .card .card-header button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}

.__exemple #accordion .card .card-header button:hover {
  text-decoration: none;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

.__exemple #accordion .card pre {
  color: #a7a7a7d2;
}

footer {
  width: 100%;
  height: auto;
  padding: 50px 0px;
  text-align: center;
  background: var(--dark-1);
  border-top: 5px solid var(--green-2);
}

footer .links {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

footer .links a {
  width: 36px;
  height: 36px;
  border-radius: 500%;
  color: var(--text);
  background-color: var(--green);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: -webkit-filter .3s;
  transition: -webkit-filter .3s;
  transition: filter .3s;
  transition: filter .3s, -webkit-filter .3s;
}

footer .links a:hover {
  text-decoration: none;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}

footer p {
  font-size: 22px;
  margin-top: 20px;
}
/*# sourceMappingURL=styles.css.map */